@model ICollection<BarReviewViewModel>

@foreach (var review in @Model)
{
    <center>
        <div class="col-md-10 blog-main" style="padding-left:260px">
            <div class="blog-post format-quote">
                <div class="blog_thumbnail">
                    <a href="7b_single-blog.html" class="box_text">
                        <span class="ribbon_icon"><i class="fa fa-quote-left"></i></span>
                        <blockquote class="inner">
                            <p>
                                "@review.Description"
                                <br>
                                <font style="color:gold">Grade: @review.Rating</font>

                            </p>
                            <span class="author">- The Coca-Cola Company, Cocktail Magician™, 2019 -</span>
                        </blockquote>
                    </a>
                </div>
                <div class="meta_box">
                    <span class="meta_date">@review.ReviewDate</span>
                    @*<span class="meta_comments"><a href="#"><em>21</em> <span>Comments</span></a></span>*@
                    <span class="meta_author"><a href="#">Publisher: @review.UserName</a></span>
                    @if (!review.LikedByUsers.Contains(@User.FindFirstValue(ClaimTypes.NameIdentifier)))
                    {
                        <form id="like-1" method="post" asp-area="Reviews" asp-controller="BarReviews" asp-action="LikeBarReview"
                              asp-route-barReviewID="@review.Id" asp-route-barId="@review.BarId" asp-route-name="@review.BarName"
                              data-barReviewID="@review.Id" data-barId="@review.BarId" data-name="@review.BarName">
                            <button type="submit"
                                    class="like-2"
                                    data-barReviewID="@review.Id" data-barId="@review.BarId">
                                <i class="fa fa-heart fa-lg text-danger"></i>
                                <span> @review.LikeCount</span>
                            </button>
                        </form>
                    }
                    else
                    {
                        <form id="unlike-1" method="post" asp-area="Reviews" asp-controller="BarReviews" asp-action="RemoveLikeBarReview"
                              asp-route-barReviewID="@review.Id" asp-route-barId="@review.BarId" asp-route-name="@review.BarName"
                              data-barReviewID="@review.Id" data-barId="@review.BarId">
                            <button type="submit"
                                    class="unlike-2" data-barReviewID="@review.Id" data-barId="@review.BarId">
                                <i class="fa fa-heart fa-lg text-danger"></i>
                                <span>@review.LikeCount</span>
                            </button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </center>
}
