@model SearchViewModel
@{
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<div class="row" id="tab-switcher">
    <div class="col-md-2">
        <h3 class="tab-link" data-tab="bars" style="color: gold">Bars:</h3>
    </div>
    <div class="col-md-2">
        <h3 class="tab-link" data-tab="cocktails">Cocktails:</h3>
    </div>
</div>
<div id="bars" class="tab-container">

    @if (Model.Bars.Count == 0)
    {
        <h5>No results!</h5>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th><h5>Bar's Picture</h5></th>
                    <th>
                        <h5 width="30%">
                            Name
                        </h5>
                    </th>
                    <th>
                        <h5>
                            Address
                        </h5>
                    </th>
                    <th>
                        <h5>
                            Rating
                        </h5>
                    </th>

                    <th width="7%"><h5>Website</h5></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bar in Model.Bars)
                {
                    <tr>
                        <td>
                            <a asp-area="Bars" asp-controller="Bars" asp-action="Details" asp-route-id="@bar.Id">
                                <img src="@bar.Image"
                                     width="300"
                                     style="border-radius:25px; padding-top:5px; padding-bottom:5px" alt="Bar picture" />
                            </a>
                        </td>
                        <td>
                            <h5>@bar.Name</h5>
                        </td>
                        <td>
                            <h5>@bar.Address</h5>
                        </td>
                        <td>
                            @if (@bar.BarRating ==0||@bar.BarRating == null)
                            {
                                <i>Not rated yet!</i>
                            }
                            else
                            {
                                if (bar.BarRating * 10 % 10 == 0)
                                {
                                    for (int i = 0; i < bar.BarRating - 1; i++)
                                    {
                                        <font color="gold">
                                            <i class="fa fa-star" style="color:gold"></i>
                                        </font>
                                    }
                                    <font color="gold">
                                        <i class="fa fa-star" style="color:gold"><font size="2"> @bar.BarRating</font></i>
                                    </font>
                                }
                                else
                                {

                                    for (int i = 0; i < bar.BarRating - 1; i++)
                                    {
                                        <font color="gold">
                                            <i class="fa fa-star" style="color:gold"></i>
                                        </font>
                                    }
                                    <font color="gold">
                                        <i class="fa fa-star-half" style="color:gold"> <font size="2"> @bar.BarRating</font></i>
                                    </font>
                                }
                            }
                        </td>
                        <td>

                            @if (this.User.IsInRole("Member") || this.User.IsInRole("Manager") || this.User.IsInRole("Administrator"))
                            {
                                <p>
                                    <a class="btn btn-default btn-sm" asp-area="Bars" asp-action="Details" asp-route-id="@bar.Id">
                                        <font style="color:gold">
                                            <i class="fa fa-search-plus"></i>
                                            Details
                                        </font>
                                    </a>
                                </p>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div id="cocktails" style="display: none" class="tab-container">
    @if (@Model.Cocktails.Count == 0)
    {
        <h5>No results!</h5>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th><h5>Cocktails's Picture</h5></th>
                    <th>
                        <h5>
                            Name
                        </h5>
                    </th>
                    <th>
                        <h5>
                            Ingredients
                        </h5>
                    </th>
                    <th>
                        <h5>
                            Rating
                        </h5>
                    </th>

                    <th width="7%"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cocktail in Model.Cocktails)
                {
                    <tr>
                        <td>
                            <a asp-area="Cocktails" asp-controller="Cocktails" asp-action="Details" asp-route-id="@cocktail.Id">
                                <img src="@cocktail.Image"
                                     width="200"
                                     style="border-radius:25px; padding-top:5px; padding-bottom:5px" alt="Bar picture" />
                            </a>
                        </td>
                        <td>
                            <h5>@cocktail.Name</h5>
                        </td>
                        <td>
                            <h5>@cocktail.Ingredients</h5>
                        </td>
                        <td>
                            @if (cocktail.Rating==0||cocktail.Rating == null)
                            {
                                <i>Not rated yet!</i>
                            }
                            else
                            {
                                if (cocktail.Rating * 10 % 10 == 0)
                                {
                                    for (int i = 0; i < cocktail.Rating - 1; i++)
                                    {
                                        <font color="gold">
                                            <i class="fa fa-star" style="color:gold"></i>
                                        </font>
                                    }
                                    <font color="gold">
                                        <i class="fa fa-star" style="color:gold"><font size="2"> @cocktail.Rating</font></i>
                                    </font>
                                }
                                else
                                {

                                    for (int i = 0; i < cocktail.Rating - 1; i++)
                                    {
                                        <font color="gold">
                                            <i class="fa fa-star" style="color:gold"></i>
                                        </font>
                                    }
                                    <font color="gold">
                                        <i class="fa fa-star-half" style="color:gold"> <font size="2"> @cocktail.Rating</font></i>
                                    </font>
                                }
                            }
                        </td>
                        <td>

                            @if (this.User.IsInRole("Member") || this.User.IsInRole("Manager") || this.User.IsInRole("Administrator"))
                            {
                                <p>
                                    <a class="btn btn-default btn-sm" asp-area="Cocktails" asp-controller="Cocktails" asp-action="Details" asp-route-id="@cocktail.Id">
                                        <font style="color:gold">
                                            <i class="fa fa-search-plus"></i>Cocktail Details
                                            
                                            </font>
                                    </a>
                                </p>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
</div>

