@model CreateBarVM

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
<center>


    <h4></h4>
    <hr />
    <div class="row">
        <h1>Create Bar</h1>
        <div class="col-md-4 col-md-offset-4">
            <form asp-controller="Bars" asp-area="Bars" asp-action="Create" method="post"
                  enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Website" class="control-label"></label>
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @*<div >*@
                        <label asp-for="Country" class="control-label">Choose country:</label>
                        <select class="select-editable form-control" asp-for="Country" 
                                input="text" asp-items="@Model.AllCountries">
                            <option disabled hidden selected value="">Start Typing...</option>
                        </select>
                        @*select id="selectmenu" asp-for="@Model.Ingredients[0].Ingredient"
                        class="select-editable form-control" asp-items="@Model.IngredientsNames"
                        input="text" placeholder="Choose Ingredients..."></select>*@
                    @*</div>*@
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Details" class="control-label">Detailed Adress</label>
                    <input asp-for="Details" class="form-control" />
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="ImageURL" class="control-label"></label>
                        <input asp-for="ImageURL" class="form-control" />
                        <span asp-validation-for="ImageURL" class="text-danger"></span>
                    </div>*@
                <div>
                    <label asp-for="BarImage" class="control-label">Upload Image</label>
                    <input asp-for="BarImage" class="btn btn-primary btn-sm" />
                    <span asp-validation-for="BarImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <br />
                        <label asp-for="AllCocktailsIDs" class="control-label">Choose Cocktails:</label>
                        <select style="width:500px"
                                class="js-example-basic-multiple control-label" 
                                asp-for="AllCocktailsIDs" asp-items="@Model.AllCocktails"  multiple="multiple">
                           
                        </select>

                    </div>
                </div>
                @*<div class="form-group">
                        <label asp-for="IngredientsIDs" class="control-label">Ingredients</label>
                        <select id="selectmenu" asp-for="IngredientsIDs" class="js-example-basic-multiple form-control" asp-items="@Model.Ingredients" multiple="multiple" placeholder="Choose Ingredients..."></select>
                    </div>*@
                @*<div class="row">

                            <div class="input-group dropdown">
                                <input type="text" class="form-control dropdown-toggle" value="">
                                <ul class="dropdown-menu">
                                    @foreach (var item in @Model.IngredientsNames)
                                    {
                                        <li>
                                            <a data-value="@item">@item.Text</a>
                                        </li>
                                    }

                                </ul>
                                <span role="button" class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></span>
                            </div>
                    </div>*@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</center>

<script>
     window.onload = function () {
        $('.js-example-basic-multiple').select2();
};
</script>