@model BarViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this Bar?</h3>
<div>
    <h2 class="hdr6">@Model.Name</h2>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th><h5></h5></th>
                <th><h5>Details</h5></th>



                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><img src="@Model.ImageURL" width="400" style="border-radius:25px; padding-top:5px; padding-bottom:5px"></td>
                <td>

                    <h5>Rating: @Model.Rating</h5>
                    <h5>Address: @Model.Address</h5>
                    <h5>Website: <a href="@Model.Website">@Model.Website </a> </h5>

                </td>

            </tr>

        </tbody>
    </table>
    <div class="row" style="padding-bottom:10px">
        <form class="col-md-4 col-md-offset-4" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input style="margin-bottom:10px" type="submit" value="Delete" class="pb-5 btn btn-danger" /> 
            <a asp-action="Index" style="margin-bottom:5px" class="btn btn-success pt-6">Cancel</a>
        </form>
    </div>
</div>
