@model BarViewModel

@{
    ViewData["Title"] = "Details";
}

    <h1 class="hdr1">@Model.Name</h1>

<div>

    <hr />
    <table class="table">
        <thead>
            <tr>
                <th><h5></h5></th>
                <th><h5>Details</h5></th>
                <th><h5>Menu</h5></th>
                

                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><img src="@Model.ImageURL" width="400"  style="border-radius:25px; padding-top:5px; padding-bottom:5px"></td>
                <td>
                    
                    <h5>Rating: @Model.Rating</h5>
                    <h5>Address: @Model.Address</h5>
                    <h5>Website: <a href="@Model.Website">@Model.Website </a> </h5>

                </td>
                <td>
                    @foreach (var cocktail in Model.Cocktails)
                    {
                        <h5>
                            @cocktail
                        </h5>
                    }
                </td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


@{
    var list = Model.Reviews.Select(r => r.UserID).ToList();
    if (!list.Contains(@User.FindFirstValue(ClaimTypes.NameIdentifier)))
    {
        var reviewVM = new BarReviewViewModel();
        reviewVM.BarId = Model.Id;

        <partial name="_LeaveReviewPartial" model=reviewVM />
    }
}

<br/>
<div class="row">
    <h3 class="hdr4">All Comments:</h3>
    <div class="col-md-8 col-md-offset-2">
        <ul class="commentList list-unstyled">
            <li>
                @foreach (var review in @Model.Reviews)
                {
                    <div class="oneComment">
                        <div class="media">
                            <a class="pull-left roundedImg" href="#" style="background-image: url(&quot;./assets/images/content/testimonial-1.jpg&quot;);">
                                <img class="media-object" src="./assets/images/content/testimonial-1.jpg" alt=" ">
                            </a>
                            <div class="media-body">
                                @review.ReviewDate.Date<br>
                                @review.UserName
                                @review.Rating
                                <a href="#" class="comment-reply-link pull-right">Reply</a>
                            </div>
                        </div>

                        <p>
                           @review.Description
                        </p>
                    </div>
                }
        </ul>
    </div>
</divclass="row">
