@model BarViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Model.Name
        </dt>
        <dd class="col-sm-10">
            @Model.Address
        </dd>
        <dt class="col-sm-2">
            <img src="@Model.ImageURL" height="300" />
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.Website">@Model.Website</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@{ 
    var reviewVM = new BarReviewViewModel();


}}
<partial name="_LeaveReviewPartial" model=@reviewVM/>
<div>
    <h3>Comments</h3>
    <ul class="commentList list-unstyled">
        <li>
            @foreach (var review in @Model.Reviews)
            {
                <div class="oneComment">
                    <div class="media">
                        <a class="pull-left roundedImg" href="#" style="background-image: url(&quot;./assets/images/content/testimonial-1.jpg&quot;);">
                            <img class="media-object" src="./assets/images/content/testimonial-1.jpg" alt=" ">
                        </a>
                        <div class="media-body">
                            Maria Jessica Turner<br>
                            March 25, 2013 at 1:38 pm
                            <a href="#" class="comment-reply-link pull-right">Reply</a>
                        </div>
                    </div>
                    <p>
                        Donec tincidunt interdum arcu, ut volutpat urna tincidunt quis. Proin varius leo ut quam egestas rutrum. Donec faucibus mattis porta. Cras quis eros sit amet dui congue vehicula. Vivamus sit amet lacus
                        lorem, eget congue orci. Donec at tellus eget mauris cursus interdum.
                    </p>
                </div>
            }
    </ul>
</div>
