@model BarViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="hdr1">@Model.Name</h1>


@{
    var address = Model.Country + ", " + Model.City + ", " + Model.Details;

}
<head>
    <style>
        #map {
            width: 40%;
            height: 200px;
            background-color: grey;
        }
    </style>
</head>



<table class="table">
    <thead>
        <tr>
            <th><h5></h5></th>
            <th><h5>Details</h5></th>
            <th><h5>Menu</h5></th>


            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td><img src="@Model.ImageURL" width="400" style="border-radius:25px; padding-top:5px; padding-bottom:5px"></td>
            <td>

                <h5>
                    Rating:
                    @if (@Model.Rating == 0)
                    {
                        <i>Not rated yet!</i>
                    }
                    else
                    {
                        @Model.Rating
                    }
                </h5>
                <h5>Website: <a href="@Model.Website">@Model.Website </a> </h5>
                <br />
                <h5>Location: <i>@Model.Country, @Model.City </i> </h5>
                <body onload="initialize2()">
                    <div id="map" style="width: 400px; height: 360px;"></div>
                    <div>
                        <input id="address" type="hidden" value="@address"
                               +@Model.Country+++>
                    </div>
                </body>

            </td>
            <td>
                @foreach (var cocktail in Model.Cocktails)
                {
                    <a asp-area="Cocktails" asp-controller="Cocktails" asp-action="Details" asp-route-id="@cocktail.Id">
                        <h5>
                            @cocktail.Name
                        </h5>
                    </a>
                }
            </td>
        </tr>

    </tbody>
</table>
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/assets/js/customGoogleMapper.js">

</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2QJIfVlhWTpxgG5zCkx1XMmwADlMuE4c&callback=initialize">
</script>