@model CreateBarVM

@{
    ViewData["Title"] = "Edit";
}

    <center>
        <h1>Edit Bar's Details</h1>

        <hr />
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form asp-controller="Bars" asp-area="Bars" asp-action="Update" method="post"
                      enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="@Model.AllCountries" />
                    <input type="hidden" asp-for="@Model.AllCocktails" />
                    <div>
                        <img src="@Model.BarImageURL" height="250" />
                        <br />
                        <label asp-for="BarImage" class="control-label">Upload New Image</label>
                        <input asp-for="BarImage" class="btn btn-primary btn-sm" />
                        <span asp-validation-for="BarImage" class="text-danger"></span>
                        <br />
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Website" class="control-label"></label>
                        <input asp-for="Website" class="form-control" />
                        <span asp-validation-for="Website" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="control-label">Choose country:</label>
                        <select class="select-editable form-control" asp-for="Country"
                                input="text" asp-items="@Model.AllCountries" id="Country" name="Country">
                            @*<option disabled hidden selected asp-for="Country" value="">@Model.Country</option>*@
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Details" class="control-label">Detailed Adress</label>
                        <input asp-for="Details" class="form-control" />
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <div>
                            <br />
                            <label asp-for="AllCocktailsIDs" class="control-label">Choose Cocktails:</label>
                            <select style="width:500px"
                                    class="js-example-basic-multiple control-label"
                                    asp-for="AllCocktailsIDs" asp-items="@Model.AllCocktails" multiple="multiple">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a class="btn btn-default" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        </center>

    <script>
     window.onload = function () {
        $('.js-example-basic-multiple').select2();
};
    </script>