@model CreateBarVM

@{
    ViewData["Title"] = "Edit";
}
    <div class="bg-1 section" id="events" style="margin-top:-18px">
        <div class="inner" data-image="/assets/images/content/ccback12.jpg" data-topspace="1" style="background-image: url('/assets/images/content/ccback12.jpg'); padding-top: 1px;">
            <div class="inner" data-topspace="1" data-bottomspace="1" style="background-image: none; ">
                <h3 class="hdr4">Edit @Model.Name</h3>
                <div style="background-color:rgba(16, 6, 6, 0.80)">


                    <center>
                        

                        <hr />
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <form asp-controller="Bars" asp-area="Bars" asp-action="Update" method="post"
                                      enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="@Model.AllCountries" />
                                    <input type="hidden" asp-for="@Model.AllCocktails" />
                                    <div>
                                        <br>
                                        <br>
                                        <img src="@Model.BarImageURL" height="250" style="border-radius:20px" />
                                        <br />
                                        <label style="color:gold" asp-for="BarImage" class="control-label">Upload New Image</label>
                                        <input asp-for="BarImage" class="btn btn-primary btn-sm" />
                                        <span asp-validation-for="BarImage" class="text-danger"></span>
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <label style="color:gold" asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label style="color:gold" asp-for="Website" class="control-label"></label>
                                        <input asp-for="Website" class="form-control" />
                                        <span asp-validation-for="Website" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label style="color:gold" asp-for="Country" class="control-label">Choose country:</label>
                                        <select class="select-editable form-control" asp-for="Country"
                                                input="text" asp-items="@Model.AllCountries" id="Country" name="Country">
                                            @*<option disabled hidden selected asp-for="Country" value="">@Model.Country</option>*@
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label style="color:gold" asp-for="City" class="control-label"></label>
                                        <input asp-for="City" class="form-control" />
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label style="color:gold" asp-for="Details" class="control-label">Detailed Adress</label>
                                        <input asp-for="Details" class="form-control" />
                                        <span asp-validation-for="Details" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <br />
                                            <label style="color:gold" asp-for="AllCocktailsIDs" class="control-label">Choose Cocktails:</label>
                                            <select style="width:400px"
                                                    class="js-example-basic-multiple control-label"
                                                    asp-for="AllCocktailsIDs" asp-items="@Model.AllCocktails" multiple="multiple"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                            <a asp-area="Bars" asp-controller="Bars" asp-action="ListBars" style="margin-bottom:-5px" class="btn btn-success pt-6">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                       
                    </center>
                        </div>
                        </div>
                        </div>
                        </div>

                    <script>
                        window.onload = function () {
                            $('.js-example-basic-multiple').select2();
                        };
                    </script>
