@model ListBarsViewModel
@{
    ViewData["Title"] = "Index";
}
<meta charset="utf-8">
<meta name="description" content=" ">
<meta name="author" content=" ">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet" type="text/css" href="./assets/js/customscroll/jquery.mCustomScrollbar.css">
<link rel="stylesheet" type="text/css" href="./assets/js/flexslider/css/flexslider.css">
<link rel="stylesheet" type="text/css" href="./assets/js/prettyPhoto/css/prettyPhoto.css">
<link rel="stylesheet" type="text/css" href="./assets/js/bxslider/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="./assets/css/font-awesome.css">

<link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
<script src="./assets/js/modernizr.custom.81779.js"></script>

<h3 class="hdr4">All Bars</h3>
<div>
    <table class="table">
        <thead>
            <tr>

                <th><h5>Bar's Picture</h5></th>

                <th>
                    <h5>
                        <a asp-action="Index" asp-route-sortOrder="@Model.NameSortParm"> &uarr;&darr; Name</a>
                    </h5>
                </th>
                <th>
                    <h5>
                        <a asp-action="Index" asp-route-sortOrder="@Model.RatingSortParm"> &uarr;&darr; Rating</a>
                    </h5>
                </th>
                <th width="7%"><h5>Website</h5></th>
                <th></th>



            </tr>
        </thead>
        <tbody>
            @foreach (var bar in Model.AllBars)
            {
                <tr>
                    <td>
                        <a asp-area="Bars" asp-controller="Bars" asp-action="Details" asp-route-id="@bar.Id">
                            <img src="@bar.ImageURL"
                                 width="450"
                                 style="border-radius:25px; padding-top:5px; padding-bottom:5px" alt="Bar picture" />

                        </a>
                    </td>
                    <td>
                        <h5>@bar.Name</h5>
                    </td>
                    <td>
                        @if (@bar.Rating == 0)
                        {
                            <i>Not rated yet!</i>
                        }
                        else
                        {
                            if (bar.Rating * 10 % 10 == 0)
                            {
                                for (int i = 0; i < bar.Rating - 1; i++)
                                {
                                    <font color="gold">
                                        <i class="fa fa-star" style="color:gold"></i>
                                    </font>
                                }
                                <font color="gold">
                                    <i class="fa fa-star" style="color:gold"><font size="2"> @bar.Rating</font></i>
                                </font>
                            }
                            else
                            {

                                for (int i = 0; i < bar.Rating - 1; i++)
                                {
                                    <font color="gold">
                                        <i class="fa fa-star" style="color:gold"></i>
                                    </font>
                                }
                                <font color="gold">
                                    <i class="fa fa-star-half" style="color:gold"> <font size="2"> @bar.Rating</font></i>
                                </font>
                            }
                        }
                    </td>
                    @*<td>
                            @bar.Country
                        </td>*@
                    <td>

                        <a href="@bar.Website">@bar.Website</a>

                    </td>
                    <td>
                        <p>
                            <a class="btn btn-default btn-sm" asp-area="Reviews" asp-controller="BarReviews" asp-action="BarReviews"
                               asp-route-id="@bar.Id" asp-route-name="@bar.Name">
                                <font style="color:gold">
                                    Reviews
                                </font>
                            </a>
                        </p>
                        @if (this.User.IsInRole("Member") || this.User.IsInRole("Manager") || this.User.IsInRole("Administrator"))
                        {
                            <p>
                                <a class="btn btn-default btn-sm" asp-area="Bars" asp-action="Details" asp-route-id="@bar.Id">
                                    <font style="color:gold">
                                        Details
                                    </font>
                                </a>
                            </p>
                        }
                        @if (this.User.IsInRole("Administrator") || this.User.IsInRole("Manager"))
                        {
                            <p>
                                <a class="btn btn-default btn-sm" asp-area="Bars" asp-action="Edit" asp-route-id="@bar.Id">
                                    <font style="color:gold">
                                        Edit
                                    </font>
                                </a>
                            </p>
                            <p>
                                <a class="btn btn-default btn-sm" asp-area="Bars" asp-controller="Bars" asp-action="Delete" asp-route-id="@bar.Id">
                                    <font style="color:gold">
                                        Delete
                                    </font>
                                </a>
                            </p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_BarPaginationPartial" model="@Model">

