@model ICollection<BarViewModel>
@{
    ViewData["Title"] = "Index";
}
<meta charset="utf-8">
<meta name="description" content=" ">
<meta name="author" content=" ">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet" type="text/css" href="./assets/js/customscroll/jquery.mCustomScrollbar.css">
<link rel="stylesheet" type="text/css" href="./assets/js/flexslider/css/flexslider.css">
<link rel="stylesheet" type="text/css" href="./assets/js/prettyPhoto/css/prettyPhoto.css">
<link rel="stylesheet" type="text/css" href="./assets/js/bxslider/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="./assets/css/font-awesome.css">

<link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
<script src="./assets/js/modernizr.custom.81779.js"></script>

<h3 class="hdr4">All Bars</h3>
<div >
    <table class="table">
        <thead>
            <tr>
                <th width="30%"></th>
                <th width="20%">Name</th>
                <th width="5%">Rating</th>
                <th width="15%">Address</th>
                <th width="10%">Website</th>
                <th width="20%"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var bar in Model)
            {
            <tr>
                <td>
                    <img src="@bar.ImageURL"
                         height="250" width="250"
                         style="border-radius:25px; padding-top:5px; padding-bottom:5px" alt="Bar picture" />
                </td>
                <td>
                    <h4>@bar.Name</h4>
                </td>
                <td>
                    <h4>@bar.Rating</h4>
                </td>
                <td>
                    @bar.Address
                </td>
                <td>
                    <a href="@bar.Website">
                        @bar.Website
                    </a>
                </td>
                <td>
                    <a class="btn btn-default btn-sm" asp-area="Bars" asp-action="Details" asp-route-id="@bar.Id">Details</a>
                    @if (this.User.IsInRole("Administrator") || this.User.IsInRole("Manager"))
                    {
                        <a class="btn btn-default btn-sm" asp-area="Bars" asp-action="Edit" asp-route-id="@bar.Id">Edit</a>
                        <a class="btn btn-default btn-sm" asp-area="Bars" asp-controller="Bars" asp-action="Delete" asp-route-id="@bar.Id">Delete</a>

                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
