@model CocktailsListingViewModel
@{
    ViewData["Title"] = "ListCocktails";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
    <div class="bg-1 section" id="events" style="margin-top:-18px">
        <div class="inner" data-image="/assets/images/content/ccback12.jpg" data-topspace="1" style="background-image: url('/assets/images/content/ccback12.jpg'); padding-top: 1px;">
            <div class="inner" data-topspace="1" data-bottomspace="1" style="background-image: none; ">



                <h3 class="hdr4" >All Cocktails</h3>
                <div id="cocktailsTable" style="background-color:rgba(16, 6, 6, 0.80)">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><h5 style="color:white">Cocktail's Picture</h5></th>
                                <th>
                                    <h5  style="color:white">
                                        <a asp-action="ListCocktails" asp-route-sortOrder="@ViewData["NameSortCriteria"]">&uarr;&darr; Name</a>
                                    </h5>
                                </th>
                                <th>
                                    <h5 style="padding-right:60px ; color:white">
                                        <a asp-action="ListCocktails" asp-route-sortOrder="@ViewData["RatingSortCriteria"]">&uarr;&darr; Rating</a>

                                    </h5>
                                </th>
                                <th><h5  style="color:white">Ingredients</h5></th>
                                <th><h5>                      </h5></th>
                            </tr>
                        </thead>

                        <tbody id="tbody">
                            @foreach (var cocktail in Model.FiveCocktailsList)
                            {
                                <tr >
                                    <td>
                                        <a asp-area="Cocktails" asp-controller="Cocktails" asp-action="Details" asp-route-id="@cocktail.Id">
                                            <img src="@cocktail.Image" height="250" width="250" style="border-radius:25px; padding-top:5px; padding-bottom:5px">
                                        </a>
                                    </td>
                                    <td><h5 style="padding-left:30px; color:white"> @cocktail.Name</h5></td>

                                    <td>
                                        @if (cocktail.Rating == null)
                                        {
                                            <i>Not rated yet!</i>
                                        }
                                        else
                                        {

                                            if (cocktail.Rating * 10 % 10 == 0)
                                            {
                                                for (int i = 0; i < cocktail.Rating - 1; i++)
                                                {
                                                    <font color="gold">
                                                        <i class="fa fa-star" style="color:gold"></i>
                                                    </font>
                                                }
                                                <font color="gold">
                                                    <i class="fa fa-star" style="color:gold">
                                                        <font size="2"> @cocktail.Rating</font>
                                                    </i>
                                                </font>
                                            }
                                            else
                                            {

                                                for (int i = 0; i < cocktail.Rating - 1; i++)
                                                {
                                                    <font color="gold">
                                                        <i class="fa fa-star" style="color:gold"></i>
                                                    </font>
                                                }
                                                <font color="gold">
                                                    <i class="fa fa-star-half" style="color:gold">
                                                        <font size="2"> @cocktail.Rating</font>
                                                    </i>
                                                </font>
                                            }


                                        }

                                    </td>
                                    <td>
                                        @foreach (var ingredient in cocktail.CocktailComponents)
                                        {
                                            <h5 style="padding-left:0px; color:white">
                                                @ingredient.Ingredient
                                            </h5>
                                        }
                                    </td>
                                    <td style="padding-top:10px">
                                        @if (this.User.IsInRole("Member") || this.User.IsInRole("Manager") || this.User.IsInRole("Administrator"))
                                        {
                                            <p>
                                                <a class="btn btn-default btn-sm" asp-area="Reviews" asp-controller="CocktailReviews" asp-action="RateCocktail" asp-route-id="@cocktail.Id"><font style="color:gold"><i class="fa fa-star"></i> Rate Cocktail</font></a>
                                            </p>

                                        }
                                        @if (this.User.IsInRole("Administrator") || this.User.IsInRole("Manager"))
                                        {
                                            <p>
                                                <a class="btn btn-default btn-sm" asp-area="Cocktails" asp-controller="Cocktails" asp-action="DownloadRecipe" asp-route-id="@cocktail.Id"><font style="color:gold"><i class="fa fa-arrow-circle-down"></i> Downoload Recipe</font></a>
                                            </p>
                                            <p>
                                                <a class="btn btn-default btn-sm" asp-area="Cocktails" asp-controller="Cocktails" asp-action="Edit" asp-route-id="@cocktail.Id"><font style="color:gold"><i class="fa fa-magic"></i> Edit Cocktail</font></a>
                                            </p>
                                            <p>
                                                <a class="btn btn-default btn-sm" asp-area="Cocktails" asp-controller="Cocktails" asp-action="Delete" asp-route-id="@cocktail.Id"><font style="color:gold"><i class="fa fa-trash-o"></i> Delete Cocktail</font></a>
                                            </p>
                                        }
                                        <p>
                                            <a class="btn btn-default btn-sm" asp-area="Cocktails" asp-controller="Cocktails" asp-action="Details" asp-route-id="@cocktail.Id"><font style="color:gold"><i class="fa fa-search-plus"></i> Cocktail Details</font></a>
                                        </p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <center style="padding-bottom:20px">
                    @if (Model.FiveCocktailsList.Count == 0)
                    {
                        <div class="card-body">
                            <h3>This is all the Cocktails in the app yet!</h3>
                        </div>
                    }
                    else
                    {
                        @if (Model.MoreToLoad == false)
                        {
                            <a class="btn btn-default btn-sm disabled"><h5 style="margin-bottom:-5px">Load more cocktails <i class="fa fa-arrow-circle-o-down"></i></h5></a>
                        }
                        else
                        {
                            <a id="loadMore" asp-area="Cocktails" asp-controller="Cocktails" asp-action="LoadMoreCocktails" class="btn btn-default btn-sm" asp-route-orderByModel="@Model.SortOrder" asp-route-currPage="@Model.NextPage" data-sortOrder="@Model.SortOrder" data-currPage="@Model.CurrPage" data-orderByModel="@Model.SortOrder"><h5 style="margin-bottom:-5px; color:gold">Load more cocktails <i class="fa fa-plus-circle"></i></h5></a>
                        }
                    }
                </center>
                </div>
                </div>
                </div>
                <script src="/assets/js/cocktailsPagination.js"></script>
