@model  CocktailViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}




<table class="table">
    <thead>
        <tr>
            <th><h5>Cocktail's Picture</h5></th>
            <th><h5>Cocktail's Details</h5></th>
            <th><h5>Cocktail's Ingredients</h5></th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td><img src="@Model.Image" height="250" width="250" style="border-radius:25px; padding-top:5px; padding-bottom:5px"></td>
            <td>
                <h5>Name: @Model.Name</h5>
                <h5>Rating: @Model.Rating</h5>

            </td>
            <td>
                @foreach (var ingredient in Model.CocktailComponents)
                {
                    <h5>
                        @ingredient.Ingredient
                    </h5>
                }
            </td>
        </tr>

    </tbody>
</table>
<center>
    <center><h3><font style="color:mintcream">Are you sure you want to delete "@Model.Name" cocktail?</font></h3></center>
    <form method="post" asp-area="Cocktails" asp-controller="Cocktails" asp-action="Delete" style="padding-bottom:20px">
        <input type="hidden" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ListCocktails" class="btn btn-success">Back to List</a>
    </form>
</center>