@model CocktailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

    <center><h1>@Model.Name details</h1></center>
    <table class="table">
        <thead>
            <tr>
                <th><h5>Cocktail's Picture</h5></th>
                <th><h5>Cocktail's Details</h5></th>
                <th><h5>Cocktail's Ingredients</h5></th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td><img src="@Model.Image" height="250" width="250"></td>
                    <td><h5>Name: @Model.Name</h5>
                        <h5>Rating: @Model.Rating</h5>

                    </td>
                    <td>
                        @foreach (var item in Model.CocktailIngredients)
                        {
                            <h5>
                                @item.Ingredient.Name
                            </h5>
                        }
                    </td>
                </tr>
            
        </tbody>
    </table>

    
    <div>
        
        <a asp-action="ListCocktails" class="btn btn-success">Back to List</a>
    </div>
