@model CocktailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<center><h1>@Model.Name details</h1></center>
<table class="table">
    <thead>
        <tr>
            <th><h5>Cocktail's Picture</h5></th>
            <th><h5>Cocktail's Details</h5></th>
            <th><h5>Cocktail's Ingredients</h5></th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td><img src="@Model.Image" height="250" width="250" style="border-radius:25px; padding-top:5px; padding-bottom:5px"></td>
            <td>
                <h5>Name: @Model.Name</h5>
                <h5>Rating: @Model.Rating</h5>

            </td>
            <td>
                @foreach (var item in Model.CocktailIngredients)
                {
                    <h5>
                        @item.Ingredient.Name
                    </h5>
                }
            </td>
        </tr>

    </tbody>
</table>
<h1 class="hdr6"> Where to find "@Model.Name"</h1>
@if (Model.BarCocktails.Count() == 0)
{
    <h3 class="hdr3">
        you can be the first in the town to offer this cocktail
    </h3>
}
@foreach (var item in Model.BarCocktails)
{
    <div class="eventBox">
        <span class="date">SEP <span>06</span></span>

        <h4 class="hdr2">
            @item.Bar.Name<br>
            <span class="place"> @item.Bar.Address</span>

            <span class="time">11:00 am - 1:00 pm</span>
        </h4>
        <hr>

        <div class="clearfix"></div>

        <button id="map_cocktail" data-rel="prettyPhoto" class="mapit" value="@item.Bar.Address"><i></i>Map it </button>

        <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=foodtruck.html.themeforest.createit.pl" class="shareit"><i></i>Share it</a>

    </div>

    <body onload="initialize()">
        <center>
            <div id="map" style="width:98vw; height: 360px;"></div>
            <div>
                <a class="button" id="address" type="hidden" value="@item.Bar.Address"></a>
            </div>
        </center>
    </body>
}


<center>
    <div style="padding-bottom:20px">

        <a asp-action="ListCocktails" class="btn btn-success">Back to List</a>
    </div>
</center>


<script>
    var geocoder;
    var map;


    function initialize() {

        let mapBtns = document.getElementsByClassName("mapit");

        for (const btn of mapBtns) {

            btn.addEventListener('click', (e) => {

                e.preventDefault();
                let currentBtn = e.currentTarget;
                currentBtn.innerHTML = "<i></i>HIDE MAP"
                geocoder = new google.maps.Geocoder();
                var latlng = new google.maps.LatLng(-34.397, 150.644);

                var mapOptions = {
                    zoom: 8,
                    center: latlng
                }
                map = new google.maps.Map(document.getElementById('map'), mapOptions);
               
                //geolocator
                var address = e.srcElement.value;
                console.log(e.srcElement.value);
                
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status == 'OK') {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });

            });

        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2QJIfVlhWTpxgG5zCkx1XMmwADlMuE4c&callback=initialize">
</script>
