@model CocktailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
<center><h1>@Model.Name details</h1></center>
<table class="table">
    <thead>
        <tr>
            <th><h5>Cocktail's Picture</h5></th>
            <th><h5>Cocktail's Details</h5></th>
            <th><h5>Cocktail's Ingredients</h5></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="@Model.Image" height="250" width="250" style="border-radius:25px; padding-top:5px; padding-bottom:5px"></td>
            <td>
                <h5>Name: @Model.Name</h5>
                <h5>Rating: @Model.Rating</h5>
            </td>
            <td>
                @foreach (var item in Model.CocktailComponents)
                {
                    <h5>
                        @item.Ingredient
                    </h5>
                }
            </td>
        </tr>
    </tbody>
</table>
<h1 class="hdr6"> Where to find "@Model.Name"</h1>
@if (Model.BarCocktails.Count() == 0)
{
    <h3 class="hdr3">
        you can be the first in the town to offer this cocktail
    </h3>
}

@foreach (var item in Model.BarCocktails)
{

    var addressNew = item.Bar.Address.Country.Name + ", " + item.Bar.Address.City + ", "+ item.Bar.Address.Details;

    <div class="eventBox">
        <span class="date">SEP <span>06</span></span>
        <h4 class="hdr2">
            @item.Bar.Name<br>
            <span class="place"> @addressNew</span>
            <span class="time">11:00 am - 1:00 pm</span>
        </h4>
        <hr>
        <div class="clearfix"></div>
        <button style="background:none ; border:0px ; outline:0px ; padding-top:5px" id="map_cocktail" data-rel="prettyPhoto" class="mapit" value="@addressNew"><i></i>Map it </button>
        <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=foodtruck.html.themeforest.createit.pl" class="shareit"><i></i>Share it</a>
    </div>
}
<center>
    <div style="padding-bottom:20px">
        <a asp-action="ListCocktails" class="btn btn-success">Back to List</a>
    </div>
</center>
<script src="~/assets/js/customGoogleMapper.js">
 
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2QJIfVlhWTpxgG5zCkx1XMmwADlMuE4c&callback=initialize">
</script>
