@model CocktailReviewViewModel
@{
    ViewData["Title"] = "RateCocktail";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<head>
    @*<link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.css" />*@
    <link rel="stylesheet" href="~/kendo-ui/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="~/kendo-ui/styles/kendo.material.min.css" />

    <script src="~/jquery/dist/jquery.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.bundle.js"></script>
    @*Kendo Start Here:*@
    <script src="~/kendo-ui/js/kendo.all.min.js"></script>
    <script src="~/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    @* css styling *@
    @* jquery *@
</head>


<center><h1 class="hdr6">Rate Cocktail "@Model.Name" </h1></center>
<form asp-controller="Cocktails" asp-action="RateCocktail" method="post">
    <table class="table">
        <thead>
            <tr>
                <th><h5>Cocktail's Picture</h5></th>
                <th><h5 style="margin-left:27px">Cocktail's Details</h5></th>
                <th><h5>Cocktail's Ingredients</h5></th>

                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><img src="@Model.Image" height="250" width="250" style="border-radius:20px"></td>
                <td>
                    <h5 style="margin-left:27px">Name: @Model.Name</h5>
                    @if (Model.Rating == null)
                    {
                        <h5  style="margin-left:27px">
                            Not Rated Yet!
                        </h5>
                    }
                    else
                    {
                        <kendo-rating name="readonlyRating"
                                      style="margin-left: 15px;
    padding-bottom: 20px;"
                                      min="1" max="10"
                                      value="@Model.Rating"
                                      readonly="true" enabled="false">
                        </kendo-rating>
                    }

                </td>
                <td>
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <h5>
                            @ingredient.Ingredient
                        </h5>
                    }
                </td>
            </tr>

        </tbody>
    </table>
    <table>
        <tbody>
            <dl>
                @if (Model.CanReview)
                {
                    <dt class="col-sm-2">
                        <h3 class="hdr3" style="margin-top:7px"><font style="color:gold">Your grade</h3>
                    </dt>
                    <dd class="col-sm-10 text-danger">
                        <div class="form-group">
                            <b>
                                <kendo-rating style="color:gold" name="rating"
                                              min="1" max="10"
                                              value="@Model.Rating">
                                </kendo-rating>

                                @*<select asp-for="@Model.Rating" class=" alert-success form-check">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>*@
                            </b>
                        </div>
                    <dt class="col-sm-2">
                        <h3 class="hdr3" style="margin-top:7px"><font style="color:gold">Current Rating</h3>
                    </dt>

                    <div class="row">
                        <div class="col-md-6">
                            <textarea asp-for="Description" class="form-control input-sm" rows="5" cols="50" placeholder="Write your review here..." style="padding-right:10px"> </textarea>
                            <br>

                            <button class="btn btn-default" type="submit">Submit</button>

                        </div>

                    </div>
                    </dd>

                }
                else
                {
                    <dt><h3 class="hdr3"> You've already rated this cocktail ! </h3></dt>
                }
            </dl>
        </tbody>
    </table>
</form>
@if (Model.CanReview)
{
    <br><br><br><br><br><br><br><br><br><br><br>
}
<center><h1 class="hdr6" style="">Comments for "@Model.Name" </h1></center>

@if (Model.Reviews.Count == 0)
{
    <h3 class="hdr3"> There are no comments for this cocktail yet! </h3>
}
else
{
    foreach (var item in Model.Reviews)
    {
        <center>
            <div class="col-md-10 blog-main" style="padding-left:260px">
                <div class="blog-post format-quote">
                    <h3 class="blog_title"><a href="7b_single-blog.html">A quote post</a></h3>
                    <div class="blog_thumbnail">
                        <a href="7b_single-blog.html" class="box_text">
                            <span class="ribbon_icon"><i class="fa fa-quote-left"></i></span>
                            <blockquote class="inner">
                                <p>
                                    "@item.Description"
                                    <br>
                                    <font style="color:gold">Grade: @item.Rating</font>

                                </p>
                                <span class="author">- The Coca-Cola Company, Cocktail Magician™, 2019 -</span>
                            </blockquote>
                        </a>
                    </div>
                    <div class="meta_box">
                        <span class="meta_date">@item.Name</span>
                        @*<span class="meta_comments"><a href="#"><em>21</em> <span>Comments</span></a></span>*@
                        <span class="meta_author"><a href="#">Publisher: @item.UserName</a></span>
                        @*@if (!review.LikedByUsers.Contains(@User.FindFirstValue(ClaimTypes.NameIdentifier)))
                            {
                                <form method="post" asp-area="Reviews" asp-controller="BarReviews" asp-action="LikeBarReview"
                                      asp-route-barReviewID="@review.Id" asp-route-barId="@review.BarId" asp-route-name="@review.BarName">
                                    <button type="submit"
                                            title="Love it" class="btn-like btn-counter" data-count="@review.LikeCount">
                                        <span>&#x2764;</span>
                                    </button>
                                </form>
                            }
                            else
                            {
                            <form method="post" asp-area="Reviews" asp-controller="BarReviews" asp-action="RemoveLikeBarReview"
                                  asp-route-barReviewID="@review.Id" asp-route-barId="@review.BarId" asp-route-name="@review.BarName">
                                <button type="submit"
                                        title="Love it" class="btn-like btn-counter" data-count="@review.LikeCount">
                                    <span>&#x2764;</span>
                                </button>
                            </form>*@
                    </div>
                </div>
            </div>
        </center>
    }
}
@*Comments goes here ... :*@

<center>
    <p style="padding-left:10px; padding-top:260px">
        <a asp-action="ListCocktails" class="btn btn-danger">Load More Comments</a>
        <a asp-action="ListCocktails" class="btn btn-success">Back to List</a>
    </p>
</center>
