@model CocktailReviewViewModel
@{
    ViewData["Title"] = "RateCocktail";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}



<center><h1 class="hdr6">Rate Cocktail "@Model.Name" </h1></center>
<form asp-controller="Member" asp-action="ReviewBook" method="post">
    <table class="table">
        <thead>
            <tr>
                <th><h5>Cocktail's Picture</h5></th>
                <th><h5>Cocktail's Details</h5></th>
                <th><h5>Cocktail's Ingredients</h5></th>

                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><img src="@Model.Image" height="250" width="250"></td>
                <td>
                    <h5>Name: @Model.Name</h5>
                    <h5>Rating: @Model.Rating</h5>

                </td>
                <td>
                    @foreach (var ingredient in Model.CocktailIngredients)
                    {
                        <h5>
                            @ingredient.Ingredient.Name
                        </h5>
                    }
                </td>
            </tr>

        </tbody>
    </table>
    <table>
        <tbody>
            <dl>
                @if (Model.CanReview)
                {
                    <dt class="col-sm-2">
                        <h3 class="hdr3">Your grade</h3>
                    </dt>
                    <dd class="col-sm-10 text-danger">
                        <div class="form-group">
                            <b>
                                <select asp-for="@Model.Rating" class=" alert-success form-check">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </b>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <textarea asp-for="Description" class="form-control input-sm" rows="5" cols="50" placeholder="Write your review here..." style="padding-right:10px"> </textarea>
                                <br>

                                <button class="btn btn-default" type="submit">Submit</button>

                            </div>

                        </div>
                    </dd>

                }
                else
                {
                    <dt><h3 class="hdr3"> You've already rated this cocktail ! </h3></dt>
                }
            </dl>
        </tbody>
    </table>
</form>
@if (Model.CanReview)
{
    <br><br><br><br><br><br><br><br><br><br><br>
}
<center><h1 class="hdr6">Comments for "@Model.Name" </h1></center>

<p style="padding-left:10px; padding-top:260px">

    <a asp-action="ListCocktails" class="btn btn-success">Back to List</a>
</p>
