@model ICollection<AppUserViewModel>
@{
    ViewData["Title"] = "ListUsers";
}

<h1>ListUsers</h1>
<table class="pretty-table table-responsive">
    <thead>
        <tr>
            <th width="20%">Username</th>
            <th width="30%">E-mail </th>
            <th width="20%">Role</th>
            <th width="10%"></th>
            <th width="10%"></th>
            <th width="10%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            if (user.Role != "Administrator")
            {
        <tr>
            <td>@user.Username</td>
            <td> @user.Email</td>
            <td> @user.Role</td>



            <td>
                @if (user.Role != ("Administrator") && user.Role != ("Manager"))
                {
                    <form method="post">
                        <button class="btn btn-default btn-sm" asp-action="ChangeRoleToManager" asp-controller="AppUser" asp-route-id="@user.Id">Create Manager</button>
                    </form>
                }
            </td>
            <td>
                <form method="post">
                    <button class="btn btn-default btn-sm" asp-action="Delete" asp-controller="AppUser" asp-route-id="@user.Id">Delete</button>
                </form>

            </td>
            <td>
                <form method="post">
                    <button class="btn btn-default btn-sm" asp-action="Delete" asp-controller="AppUser" asp-route-id="@user.Id">Ban</button>
                </form>

            </td>
        </tr>
            }
        }
    </tbody>
</table>
