@model ICollection<AppUserViewModel>
@{
    ViewData["Title"] = "ListUsers";
}

<h3 class="hdr4">All Users</h3>


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th><h5>Username</h5></th>

            <th>
                <h5>E-mail</h5>
            </th>
            <th>
                <h5>Role</h5>
            </th>
            <th></th>
           
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
            if (user.Role != "Administrator")
            {
                <tr>
                    <td></td>
                    <td><h5>@user.Username</h5></td>
                    <td><h5> @user.Email</h5></td>
                    <td> <h5>@user.Role</h5></td>



                    <td>
                        <p>
                            @if (user.Role != ("Administrator") && user.Role != ("Manager"))
                            {
                                <a method="post" class="btn btn-default btn-sm"
                                   asp-action="ChangeRoleToManager" asp-controller="AppUser" asp-route-id="@user.Id">
                                    <font style="color:gold">
                                        Create Manager
                                    </font>
                                </a>
                            }
                        </p>
                        <p>
                            <a method="get" class="btn btn-default btn-sm"
                                asp-action="Delete" asp-controller="AppUser" asp-route-id="@user.Id">
                                <font style="color:gold">
                                    Delete
                                </font>
                            </a>
                        </p>

                        <p>
                            <a method="post" class="btn btn-default btn-sm"
                                asp-action="Ban" asp-controller="AppUser" asp-route-id="@user.Id">
                                <font style="color:gold">
                                    Ban
                                </font>
                            </a>
                        </p>
                    
                </tr>
            }
        }
    </tbody>
</table>
